.DS_Store
archive*
template/header/header.jpg
template/table/table_first.jpg
template/table/table_rest_1.jpg
template/table/table_rest_10.jpg
template/table/table_rest_11.jpg
template/table/table_rest_12.jpg
template/table/table_rest_13.jpg
template/table/table_rest_14.jpg
template/table/table_rest_15.jpg
template/table/table_rest_16.jpg
template/table/table_rest_17.jpg
template/table/table_rest_18.jpg
template/table/table_rest_2.jpg
template/table/table_rest_3.jpg
template/table/table_rest_4.jpg
template/table/table_rest_5.jpg
template/table/table_rest_6.jpg
template/table/table_rest_7.jpg
template/table/table_rest_8.jpg
template/table/table_rest_9.jpg
tempMatch_format_correction.py
testTempMatch.py
__pycache__/tempMatch_format_correction.cpython-311.pyc
__pycache__/format_correction.cpython-311.pyc
